{% extends "base.html" %}
{% block content %}

<div class="content_wrapper" id="app">
	<div v-if="infos.city">
		<h1>
			Weather Info:
			<div class="date">{{today}}</div>
		</h1>
		<form class="" method="get">
			<input class="form_control" name="city" placeholder="enter city name">
			<button class="button" type="submit">Submit</button>

		</form>

		<div class="weather_card">
			<div class="weather_card_img" :style="{backgroundImage:https://cdn-icons-png.flaticon.com/128/3845/3845731.png}">
				<div class="weather_card_state">
					<span class="material-icons">
						<img src="https://cdn-icons-png.flaticon.com/128/3845/3845731.png">
						
					</span>
				</div>
			</div>

			<div class="weather_card_infos">
				<div class="weather_card_infos_title">
					<h5>{{data.city}}
					<br>
					{{data.description}}</h5>
					
				</div>
				<div class="weather_card_infos_temp">
					{{data.celcius_temperature}}°C / {{data.kelvin_temperature}}°K
				</div>
				<div class="bottom">
					<hr>
					<div class="weather_card_infos_bottom">
					</h6>humidity: {{data.humidity}} - pressure: {{data.pressure}}Pa</h6>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}